poetry
git+https://github.com/kijai/pylatexenc.git
phonemizer
git+https://github.com/WASasquatch/ffmpy.git
docopt-ng
git+https://github.com/kijai/audiocraft.git#egg=audiocraft
openai-whisper
deepfilternet